.awesome,
.kudos,
.icon {
    text-align: center;
}

.kudos {
    font-size: 10rem;
}

.icon {
    font-size: 2rem;
    margin-top: 10%;
}

.fa-check-square-o:before {
    color: #529c29;
    box-shadow: 0px 4px 10px -9px black;
}

span,
.letgo {
    color: #ff6326
}